header {
  position: fixed;
  z-index: 9999;
  box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
  width: 100%;
}
header nav img {
  height: 45px;
  width: 45px;
}
.icon {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

main {
  background-image: url(https://wallpaper.dog/large/713218.jpg);
  height: 1080px;
}
.Aboutus {
  padding-top: 100px;
}
.Aboutus h1 {
  color: rgb(10, 10, 10);
}
.Aboutus p {
  color: rgb(75, 17, 70);
}
.carousel {
  position: relative;
  margin-left: 200px;
  margin-top: 10px;
  height: 400px;
  width: 555px;
}

footer {
  background-color: rgb(206, 158, 206);
}

footer input {
  margin: 1px 600px;
}
.btn-order {
  background-color: transparent;
  border: 2px solid white;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
